bin
obj
packages
.vs/
site
publish 
*.pubxml 
*.user
*.bat
node_modules
!DeleteNodePackages.bat
!InstallNpmModules.bat
tools
!tools/packages.config
lib
dist
*TSLintAnalysis.xml
system.cachebuster.json 
temporaryfiles
